{% extends "template.html" %} 

{% block morehead %}
<script type="text/javascript">

    {% autoescape off %}
    var _recordValues = {{initialValues}};
    {%endautoescape%}
</script>
{%endblock %}

{% block content %}
<h1>Workload Generator</h1>

<script src="http://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

<script type="text/javascript">

$(function(){
    
var connectAndListen = function(){
	var sock = new SockJS('http://localhost:10311');
	sock.onmessage = function(e) {
	    console.log('message', e.data);
	};
	
	// retry if closed
	sock.onclose = function() {
	    window.setTimeout(connectAndListen, 1000);
	};
};

connectAndListen();
});
</script>

{% endblock %}
