{% load staticfiles %}

<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	
  <script type="text/javascript">
    //
    // List of URLS to be used by backbone and everyone else.
    // It's concentrated here so every component can make use of it.
    // Plus it is rendered using Django's reverse URL mechanism!
    // idea from http://pragmatic-backbone.com/models-collections-and-data

    $(function() {
           var URLs = {
                   getRecordStats : function() {
                       return "{% url 'views.getStats' %}";
                   },
             };

             // URL Accessor
             $.getServerUrl = function(type) {
                 return URLs[type] ? URLs[type].apply(this, [].slice.call(
                         arguments, 1)) : undefined;
             };
         });
        </script>
  {% block morehead %} 
  {% endblock %}

</head>
<body>
	<div class="container theme-showcase" role="main">
	
	{% block content %} 
	
	{% endblock %}
	</div>
</body>
</html>